*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#map {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#filters {
	position: absolute;
	top: 0.65rem;
	left: 3rem;
	z-index: 2000;
}

/* .leaflet-control-layers-base label:only-child {
	display: none;
}

.leaflet-control-layers-base + .leaflet-control-layers-separator {
	display: none
} */

.leaflet-control-layers-overlays > label {
	user-select: none;
	cursor: pointer;
}

.leaflet-control-layers-overlays > label:not(:last-of-type) {
	margin-bottom: 0.25rem;
}

.leaflet-control-layers-overlays > label > span,
.leaflet-control-layers-overlays > label > span > span {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.leaflet-control-layers-overlays > label > span input[type="checkbox"] {
	margin-top: 0;
}

.leaflet-control-layers-overlays img {
	--size: 1rem;
	width: var(--size);
	height: var(--size);
	object-fit: contain;
}

#map .leaflet-popup-content > p {
	margin: 0.25rem 0;
}

#map .leaflet-popup-content > h3 {
	margin-top: 1.25rem;
	/* border-bottom: 1px solid #ddd; */
	margin-bottom: 0.25rem;
	/* padding-bottom: 0.125rem; */
}

.tooltip-address {
	font-style: normal
}

.tooltip-grid {
	display: grid;
	grid-gap: 1rem;
	margin: 0.5rem 0;
}

.tooltip-grid:empty {
	display: none
}

.tooltip-grid[data-count="2"] {
	grid-template-columns: repeat(2, 1fr);
}

.tooltip-grid[data-count="3"] {
	grid-template-columns: repeat(3, 1fr);
}

.tooltip-grid .grid-cell-label {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.125rem;
	padding-bottom: 0.125rem;
	font-weight: 600;
}

.tooltip-icons {
	position: absolute;
	top: 0;
	transform: translateY(-45%);
	display: flex;
	gap: 0.25rem;
}

img.tooltip-image {
	display: block;
	--size: 1.65rem;
	width: var(--size);
	height: var(--size);
	object-fit: contain;
	margin-bottom: 0.25rem;
}

.milemarker {

}

.milemarker.milemarker-VRL13 {
	/* color: rgba(0, 169, 230, 1);
	text-shadow: 1px 1px 1px #000; */
}

.milemarker span.icon {
	--size: 0.65rem;
	display: flex;
	background-image: url('./assets/icons/milemarker-square.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: var(--size);
    height: var(--size);
	margin: 0.25rem auto;
}

.milemarker span.text {
	display: block;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	font-size: 0.65rem;
}
